:root {
  --darkhx-l0: #0c0d0f;
  --darkhx-l1: #1e1f20;
  --darkhx-l2: #2f3031;
  --darkhx-l3: #414244;
  --darkhx-l4: #545556;
  --darkhx-l5: #68686a;
  --darkhx-l6: #7c7d7f;
  --darkhx-l7: #919293;
  --darkhx-l8: #a6a7a9;
  --darkhx-l9: #bcbdbf;
  
}



html {
  background: gray;
}

html #main-content {
  background: none repeat scroll 0 0 var(--darkhx-l0);
}

html #top-bar,
html .body-wrap,
html #main-nav ul ul,
html #main-nav ul li,
html .dropdown-menu {
  background: var(--darkhx-l1);
}

html #breadcrumb,
html #top-announce,
html #post-header {
  background: var(--darkhx-l3);
  border-bottom: none;
  color: var(--darkhx-l7);
}

html #breadcrumb a,
html #top-announce a,
html #post-header a {
  color: var(--darkhx-l7);
}

html .widget-content,
html .archive-thumb h2,
html #archive-head,
html .widget-title,
html .su-spoiler-style-fancy {
  background: var(--darkhx-l1) !important;
  color: var(--darkhx-l7);
}

html .widget-content a {
  color: var(--darkhx-l7);
}

html .page-nav a {
  color: var(--darkhx-l7);
  background: var(--darkhx-l1);
}

html article .more-link {
  color: var(--darkhx-l7) !important;
}

html input.jump-page {
  background: var(--darkhx-l5);
  margin-top: 2px;
  width: 30px;
  -webkit-text-fill-color: var(--darkhx-l7);
}

html .su-spoiler-title,
html .entry table,
html .entry table td,
html .sc_act,
html .su-box-content,
html blockquote {
  background: var(--darkhx-l5);
  color: var(--darkhx-l7);
}

html .sc_act:hover {
  background: #8b8b8b;
}

html .su-spoiler-content {
  background: var(--darkhx-l4);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

html .entry img {
  border: none;
  background: none;
}

html .dlbox,
html #author-box h3,
html #related-posts h3,
html #comments h3,
html #commentform textarea,
html .searchform div input,
html .user-center {
  background: var(--darkhx-l4);
}

html .dlbox .dlbox-title,
html #author-box .author-info,
html .comment-body,
html .commentlist .comment,
html .comment-form,
html #submit-bt,
html #user-menu li {
  background: var(--darkhx-l2) !important;
}

html #commentform textarea,
html #submit-bt {
  -webkit-text-fill-color: var(--darkhx-l7);
}
